/* Hide scrollbars but keep functionality */
* {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

/* Hide WebKit scrollbars */
*::-webkit-scrollbar {
  display: none;
} 